@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
 };
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
  --color-accent: #03373D;
  --color-accent-content: #606060;
}

body{
  font-family: "Urbanist", sans-serif;
}

.sectionHeading {
  @apply text-accent text-3xl font-bold text-center
}
.myNavLink {
  @apply  rounded-full mx-1.5
}
.myNavLink:hover {
  @apply  text-accent
}
.myNavLink.active {
  @apply bg-[#CAEB66] text-accent
}